#map {
  height: 600px;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 0;
  padding: 0;
}

.nav-wrapper {
   font-family: "Hemi Head 426";
   font-size: 3rem;
}

.no-padding {
  padding: 0;
}

.background {
  background-image: url("http://wallpapercave.com/wp/CvxhQoU.jpg");
  background-size: cover;
}

.circle {
  background-image: url("assets/IMG_0974.JPG");
  background-size: cover;
  background-position: center;
  transform: rotate(180deg);
}

body {
  margin-top: 0;
  background-image:url("assets/789a.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
}

main {
  padding-bottom: 0;
}

.footer-main {
  text-align: center;
  font-family: "Hemi Head 426";
  font-size: 1.5rem;
  margin-top: 0;
}

.footer-copyright {
  text-align: center;
}
